/*@import url('https://fonts.googleapis.com/css2? family= Comforter & display=swap');*/
@import url('https://fonts.googleapis.com/css2?family=Rubik+Beastly&display=swap');
body {
    background-color: #86898f;
    font-size: 16px;
    font-weight: normal;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin: 40px
    
}
.root {
    text-align: center;
    letter-spacing: 10px;
    color: coral;
}
.root1 {
    background-color: darkkhaki;
    border-radius: 20px;
    font-style: italic;
    color: cornflowerblue;
    padding: 20px;
    border: 5px solid darkslateblue;
    margin: 20px
}
.root2 {
    text-align: center;
    background-color: deepskyblue;
    border-radius: 20px;
    font-style: oblique;
    color: rgb(10, 16, 27);
    padding: 20px;
    border: 5px solid rgb(173, 58, 196);
    margin: 20px
}
.kotik1 {
    width: 150px;
    border-radius: 20px;
    box-shadow: 4px 4px 14px rgba(0 ,0 ,0 ,0.80);
    padding-left: 0%;
}
.root3 {
    background-color: rgb(44, 190, 44);
    border-radius: 20px;
    font-style: normal;
    color: black;
    padding-left: 40%;
    border: 5px solid rgb(139, 61, 47);
    margin: 20px
}
a {
    text-decoration: none;
    color: black;
}
a:hover {
    text-decoration: line-through;
}
.root4{
    text-align: center; 
    font-size: 30px;
    background-color: darkkhaki;
    border-radius: 20px;
    font-style: italic;
    color: cornflowerblue;
    padding: 20px;
    border: 5px solid darkslateblue;
    margin: 20px
}
.kotik2 {
    width: 200px;
    border-radius: 50%;
    box-shadow: 4px 4px 14px rgba(0 ,0 ,0 ,0.80);
    padding-left: 0%;
}
.rrr{
    padding: 20px;
}
.root5 {
    background-color: burlywood;
    color: darkblue;
    padding: 20px;
    border-radius: 20px;
    font-family: 'Rubik Beastly', cursive;
    font-size: 25px;
    margin: 20px;
    border: 5px solid rgb(51, 51, 46);
}
.table {
    width: 100%;
}
.table td {
    padding-bottom: 10px;
}
.table td:nth-child(1),
 .table td:nth-child(2) {
    color: #86898f;
}
.root6 {
    background-color: rgb(117, 112, 117);
    color: #111;
    padding: 20px;
    border-radius: 20px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 16px; 
    margin: 20px;
    border: 1px solid #111;
}
.root6 label{
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
}
.root6 input {
    border: none;
    border-bottom: 2px solid #ccc;
    border-radius: 4px;
    color: #111;
}
.root6 ::placeholder {
    color: #111;
}
.btn{
    padding-top: 15px;
    background-color: black;
}
.love {
    text-align: center;
    color: darkslategray;
}